on: [ push ]
name: Check and test
jobs:
  test:
    strategy:
      matrix:
        go-version: [ 1.16, 1.17 ]
        platform: [ ubuntu-latest ]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code of this branch
        uses: actions/checkout@v2

      - name: Execute Go lint, check, test
        run: |
          make init
          make check
          go test -race --coverprofile=coverage.coverprofile --covermode=atomic ./...

      - name: Upload coverage to Codecov
        if: success() && matrix.go-version == 1.17 && matrix.platform == 'ubuntu-latest'
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: coverage.coverprofile
          flags: unittests
          fail_ci_if_error: false
